@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root{
	--primary-font-family: 'Host Grotesk';

	--heading-font-size: 20px;
	--base-font-size: 16px;

	--base-border-radius: 8px;

	--gap: 12px;
	--bigger-gap: 20px;
	
	--base-color: #373737;
	--point-color: #EC561F;
}

html{
	scroll-behavior: smooth;
	max-width: 100%;
}

body{
	font-family: var(--primary-font-family);
	font-size: var(--base-font-size);
	font-weight: 350;
	margin: 18px;
	max-width: 100%;
	overflow-x:hidden;
}

#channel-title{
	font-size: var(--heading-font-size);
	background-color:#333;
	color: white;
	padding: var(--gap);
	text-align: left;
	border-radius: var(--base-border-radius);
	margin-bottom: var(--gap);
}

.img-and-about{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: var(--gap);
}

.keyboard-image{
	height: 250px;
	border-radius: var(--base-border-radius);
	overflow: hidden;
}

.keyboard-image img{
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.heading-cta{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
	position: relative;
}

#channel-link{
	font-size: var(--base-font-size);
	padding: 12px 12px 40px 12px;
	border-radius: var(--base-border-radius);
	height: auto;

	border: 1.5px solid #b0b0b0;
	color: gray;
	text-align: left;
	cursor: pointer;

	text-decoration: none;
	box-shadow: 0 9px #b0b0b0;
}

#channel-link:hover {background-color: #eeeeee}

#channel-link:active {
	background-color: #dedede;
	border: 1.5px solid rgba(55, 98, 255, 0.656);
	box-shadow: 0 5px rgba(55, 98, 255, 0.656), 0 10px 20px rgba(55, 98, 255, 0.656);
	transform: translateY(4px);
  }

#about {
	border-radius: 20px;
	background-color: white;
	color: var(--point-color);
	margin: 14px 14px auto 85px;
	padding: 3px 8px;
	text-align: center;
}

.empty-box{
	background-color: var(--point-color);
	position: absolute;
	top:0;
	right:0;
	width: 48%;
	height: calc(2 * 100%);
	border-radius: var(--base-border-radius);
	max-width: calc(100% - var(--gap));
}

.description-box{
	color: white;
	background-color: var(--point-color);
	padding: 26px 12px 16px 12px;
	margin-top: var(--bigger-gap);
	border-radius: var(--base-border-radius);
	position: relative;
}

nav{
	position: sticky;
	top: var(--gap);
	z-index: 1000;
	width: 100%;
}

.nav-container{
	display: flex;
	gap: 8px;
	padding-bottom: 9px;
	justify-content: space-between;
	margin-block: var(--gap);
}

.nav-button{
	flex: 1;
	border-radius: var(--base-border-radius);
	border: 1.5px solid #b0b0b0;
	color: gray;
	background-color: white;
	padding: var(--gap);
	text-align: center;
	cursor: pointer;

	display: inline-block;
	text-decoration: none;
	box-shadow: 0 9px #b0b0b0;
}

.nav-button:hover {background-color: #eeeeee}

.nav-button.active {
	color: rgba(55, 98, 255, 0.656);
	background-color: #dedede;
	border: 1.5px solid rgba(55, 98, 255, 0.656);
	box-shadow: 0 5px rgba(55, 98, 255, 0.656), 0 10px 20px rgba(55, 98, 255, 0.656);
	transform: translateY(4px);
  }

#channel-blocks{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: var(--gap);
	overflow-x: hidden;

	padding-bottom: 9px;
}

/*javascript add show buttons*/
.show-image{
	li{display:none;}
	li.image-block{display:block;}
}

.show-video{
	li{display:none;}
	li.video-block{display:block;}
}

.show-link{
	li{display:none;}
	li.link-block{display:block;}
}

.show-text{
	li{display:none;}
	li.text-block{display:block;}
}

.show-audio{
	li{display:none;}
	li.audio-block{display:block;}
}

li > *{
	border-radius: var(--base-border-radius);
	border: 1.5px solid #b0b0b0;
	box-shadow: 0 9px #b0b0b0;
}

li > img, li > iframe, li > video, li > text, li > link{
	width: 100%;
	height: 166px;
	object-fit: cover;
	border-radius: var(--base-border-radius);
	overflow: hidden;
}

li > audio{
	width: 100%;
	height: 100px;
	padding: 0 10px 20px 10px;
	object-fit: cover;
	background-color: #e0e0e0;
	border-radius: 0 0 8px 8px;
}

h3{
	padding: 10px;
	background-color: #e0e0e0;
	border-radius: 8px 8px 0 0;
}

video{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: var(--gap);
}

#top{
	opacity:0;
	visibility: hidden;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

	border-radius: var(--base-border-radius);
	border: 1.5px solid var(--point-color);
	color: var(--point-color);
	background-color: #ffe8df;
	padding: 12px 18px;
	position: fixed;
	right: 4.65vw;
	bottom: 3vh;
	cursor: pointer;

	box-shadow: 0 9px var(--point-color);
}

#top:hover {background-color: #eeeeee}

#top:active {
	color: rgba(55, 98, 255, 0.656);
	background-color: #dedede;
	border: 1.5px solid rgba(55, 98, 255, 0.656);
	box-shadow: 0 5px rgba(55, 98, 255, 0.656), 0 10px 20px rgba(55, 98, 255, 0.656);
	transform: translateY(4px);
  }

footer{
	margin-block: var(--gap);
}


@media (min-width: 425px){}
@media (min-width: 768px){

	body{
		max-width: 100%;
		margin: 40px 80px;
	}

	#channel-title{
		padding: var(--bigger-gap);
	}

	.img-and-about{
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		gap: var(--bigger-gap);
		margin-block: var(--bigger-gap);
	}
	
	.keyboard-image{
		height: 100%;
		object-fit: fill;
		border-radius: var(--base-border-radius);
		overflow: hidden;

		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.enter{
		width: 100%;
		align-items: stretch;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
	}

	#channel-link{
		height: calc(2 * 100%);
	}

	.empty-box{
		height: calc(4 * 100%);
	}

	.description-box{
		padding: calc(2*10%) 20px calc(2*25%) 20px;
		margin-top: auto;
	}

	#channel-blocks {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		gap: 20px;
		justify-content: center;
		padding-top: 20px;
	}

	.link-block, .image-block, .text-block, .video-block {
		height: 300px;
	}
}