@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root{
	--primary-font-family: 'Host Grotesk';

	--heading-font-size: 20px;
	--base-font-size: 14px;
	
	--base-color: #373737;
	--point-color: #EC561F;
}

body{
	font-family: var(--primary-font-family);
	margin: 18px;
}

#channel-title{
	font-weight: 300;
	font-size: var(--heading-font-size);
	background-color:#333;
	color: white;
	padding: 12px;
	text-align: left;
	font-size: 18px;
	border-radius: 8px;
}

.main-img{
	border-radius: 8px;
	margin-block: 12px;
	object-fit: contain;
	overflow: hidden;
}



@media (min-width: 425px){}
@media (min-width: 768px){

	/* img{
		width: 50%;
	}

	#channel-blocks {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap: 10px;
		justify-content: center;
		padding-top: 20px;
	}
} */