

body{
	margin: 1rem;
	font-size: 1.125rem;
	line-height: 1.6;
	margin: 1.25rem;
	--gutter-size: calc(3*var(--base-size));
}

img{
	weight: 100%
}

h1{
	font-size: 4.5rem;
	font-weight: bold;
	line-height: 5rem;
}

h2{
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.4rem;
}

footer{
	font-size:1.25rem;
	font-weight: 450;
}


@media (min-width: 425px){}
@media (min-width: 768px){}